<!DOCTYPE html>
<html>
    <form action="/login" method="post" id="loginform"></form>
    <input type="text" name="username" form="loginform" id="loginformid">
    <button type="submit" form="loginform" id="loginbutton">Login</button>
</html>
