<!DOCTYPE html>
<html>
    <form action="/auth/discord" method="get" id="authdiscord"></form>
    <button type="submit" form="authdiscord" id="discordbutton">Sign in with Discord</button>
    <form action="/auth/google" method="get" id="authgoogle"></form>
    <button type="submit" form="authgoogle" id="googlebutton">Sign in with
        Google</button>
</html>
