<!DOCTYPE html>
<html>
    <form action="/register" method="post" id="registerform"></form>
    <input type="text" name="username" form="registerform" id="registerformid">
    <button type="submit" form="registerform" id="registerbutton">Register</button>
</html>
