html {
    padding: 25px 50px 0px 50px;
    background-color: #30345c;
    position: relative;
}

html:after {
    content: '';
    background-image: url('images/kokomi.jpg');
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index:-1;
    opacity: 0.2;
}

#navBar {
    background-color: #202442;
}

#entire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px;     
}
#domainFlex {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
#resininfo{
    flex-direction: column;
    align-self: flex-start;
}
#resinTC{
    white-space: nowrap;
}

#menu{
    position: absolute;
    left: 0px;
    max-width: 200px;
}
body {
    color: white
}
button[type="button"] {
    align-self: flex-start;
    background-color:rgb(232, 241, 255);
    color: #4a4a4a;
    border-radius: 4px;
    border:none;
    margin: 5px;
}
.card {
    align-self: flex-start;
    margin-right: 25px;
    order: 2;
    width: 350px;
    background-color:snow;
}
.card-image {
    position: relative;
    left: 150px;
}
#cardstats {
    position: relative;
    top: -50px;
    left: -20px;
}
#lock {
    position: relative;
    left: 200px;
}
#card-main {
    position: relative;
    bottom: 100px;
    left: -40px;
}
#cardmainVal {
    color: #363636;
}
#footerbutton {
    background: transparent;
    border: none !important;
    color: blue;
    cursor: pointer;
}
#footerbutton:hover {
    color: black
}
.title {
    color: white;
}
[name="domain"] {
    height: 120px;
    width: 120px;
    vertical-align:top;
    background-size: 100%;
    border-style: solid;
    border-radius: 4px;
}
#domainbuttons {
    flex-wrap: nowrap;
}
.domaintag {
    position: relative;
    bottom: -40px;
    color: white;
    
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.artifacts{
    display:inline-block;
    overflow-y: scroll;
    height: 600px;
    width: 1200px;
    order: 0;
    margin-left:25px;
    margin-right:25px;
}
::-webkit-scrollbar
{
	width: 6px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(128, 128, 128);
}
